# Application Configuration
ENV="<development | production>"

# Database Configuration
ADMIN_USER="<email address you want to use for the admin account>"
ADMIN_PASSWORD="<secure password for the admin account>"
DATABASE_URL="<database connection string>"
ECHO_SQL="<True | False>"

# Logging configuration
LOG_LEVEL="<DEBUG | INFO | WARNING | ERROR | CRITICAL>"
USE_JSON_LOGS="<True | False>"

# Authentication Configuration
JWT_SECRET="<your-very-secure-and-random-jwt-secret>"

# Email Configuration
SMTP_SERVER="<smtp.server.com>"
SMTP_PORT="<smtp port number>"
SMTP_USERNAME="<smtp username>"
SMTP_PASSWORD="<smtp password>"
SMTP_STARTTLS="<True | False>"
SMTP_SSL_TLS="<True | False>"
SMTP_USE_CREDENTIALS="<True | False>"
SMTP_VALIDATE_CERTS="<True | False>"
EMAIL_FROM="<email address to use in the From field>"