services:
  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    ports:
      - 1025:1025 # SMTP
      - 8025:8025 # Web UI
    restart: unless-stopped
    volumes:
      - ./mailpit/data:/data
      - ./mailpit/certs:/certs:ro
    environment:
      - MP_SMTP_AUTH="mailpit:mailpit"
      - MP_SMTP_TLS_CERT=/certs/cert.pem
      - MP_SMTP_TLS_KEY=/certs/key.pem
      - MP_SMTP_REQUIRE_STARTTLS=true
      - MP_SMTP_AUTH_ALLOW_INSECURE=false

  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    environment:
      - VPNSP=private internet access
      - REGION=United States
    ports:
      - 8080:8080/tcp # HTTP(S) proxy
      - 3000:3000/tcp # Admin interface
    volumes:
      - ./gluetun/config:/gluetun
    restart: unless-stopped